


html{
  font-size: 14px !important;
}

body{
  font-family: arial,helvetica,sans-serif !important;
  font-size: 1rem !important;
  color: #2c3e50 !important;
}


.main-menu{
  margin: 40px 0 0 !important;
  border:0 !important;
}

.main-menu__item{
  text-transform: uppercase !important;
  font-weight: bold !important;
  transition:1s all !important;
}

.hamburger-btn{
  display: none !important;
  margin: 40px 0 0 !important;

}

@media(min-width: 767px){
  .header-text__title{
  font:5rem/6rem arial,helvetica,sans-serif !important;
}

}


.masthead{
  background: #2c3e50 !important;
  padding-bottom: 0 !important;
}



.header-text{

  padding: 6.42857rem 0 10rem ;

}

.main-footer{
  margin: 90px 0 0;
}


.main-content{
 margin: 5rem  0 0;
}


.main-content__heading, .main-content__icon{
  color: #2c3e50 !important;
}

.ui.segments{
      box-shadow: none !important;
      transition:.3s all;
          border: 1px solid rgba(44,62,80,0.15);
 
}


.ui.segments:hover{
      box-shadow: 0px 1px 2px 0 rgba(44,62,80,.5) !important;
      cursor: pointer;
}

.main-footer_column--right{
  text-align: right !important;
}


.ui.horizontal.list > .item > i.icon{
  font-size: 1.5rem;
}


@media(max-width: 767px){
  .main-menu{
  display: none !important;
}

.main-footer_column--right, .main-footer_column--left{
  text-align: center !important;
}

.hamburger-btn{
  display: inline-block !important;
   border-radius: 0 !important;
}
.header-text{
 
  padding: 3.57143rem 0 5rem ;

}

.header-text__subtitle{
  font:1.4rem/2rem arial,helvetica,sans-serif !important;
}

}

